<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/asset/ConsoleResource/src/css/subPage.css">
    <link rel="stylesheet" type="text/css" href="/asset/ConsoleResource/src/other/uiInput.css">
    <script src="/asset/ConsoleResource/src/js/simple-validator.min.js"></script>
    @RenderSection("Head", required: false)
</head>

<body>
    <noscript>
        页面需要支持JS才可以正常运行
    </noscript>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
