@using Sap.Areas.Admin.Models
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<form action="@Url.Action("ChangePassword","Console")" id="form1" method="post">

    <div class="pathTip">
        <a class="pathTipItem">密码修改</a>
    </div>

    <div class="contentGroup">
        <div class="contentGroupTitle">
            密码修改
        </div>

        @Html.Partial("ContentUnitPassword", new ContentUnitModel() { Name = "oldPassword", Title = "当前密码", Tips = "必填。", ValidatorRules = "required", MetaData = Model })
        @Html.Partial("ContentUnitPassword", new ContentUnitModel() { Name = "newPassword", Title = "新密码", Tips = "必填。", ValidatorRules = "required", MetaData = Model })
        @Html.Partial("ContentUnitPassword", new ContentUnitModel() { Name = "validatePassword", Title = "重复新密码", Tips = "必填。", ValidatorRules = "required", MetaData = Model })

    </div>
</form>

<div class="inputSet">
    <a class="inputButton" onclick="submit1()" lefticon style="background-image:url(/asset/ConsoleResource/src/media/icon_disk.png)">提交</a>
</div>


<script>
    function submit1() {

        if (simple.validator.validate() == true) {
            document.getElementById("form1").submit();
        } else {
            smp.show("尚有数据未完成!", "warn");
        }
    }
        
</script>
