@{
    ViewBag.Title = "House";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1" />
    <title>户型名称 - 观察点名称 - 风格名称</title>
    <link rel="stylesheet" type="text/css" href="/asset/src/other/simple.iv360/simple.iv360.css">
    <script src="/asset/src/other/simple.iv360/simple.iv360.js"></script>

    <link rel="stylesheet" type="text/css" href="/asset/src/css/house.css">
    <script src="/asset/src/js/house.js"></script>
</head>

<body>

    <span id="dataMark">
        <span id="data_baseUrl" value="house.html"></span>
        <span id="data_currentViewPointId" value="100"></span>
        <span id="data_styles">
            <span value="简装" current></span>
            <span value="精装"></span>
            <span value="豪华"></span>
        </span>
        <span id="data_housePlanImage" value="/asset/src_temp/hp.jpg"></span>
        <span id="data_housePlanViewPoint">
            <span x="20" y="50" targetviewpointid="2" current></span>
            <span x="40" y="20" targetviewpointid="3"></span>
        </span>
        <span id="iv360Data_startDirection_h" value="30"></span>
        <span id="iv360Data_startDirection_v" value="20"></span>
        <span id="iv360Data_imageUrl_front" value="/asset/src_temp/front.jpg"></span>
        <span id="iv360Data_imageUrl_back" value="/asset/src_temp/back.jpg"></span>
        <span id="iv360Data_imageUrl_left" value="/asset/src_temp/left.jpg"></span>
        <span id="iv360Data_imageUrl_right" value="/asset/src_temp/right.jpg"></span>
        <span id="iv360Data_imageUrl_top" value="/asset/src_temp/top.jpg"></span>
        <span id="iv360Data_imageUrl_bottom" value="/asset/src_temp/bottom.jpg"></span>
        <span id="iv360Data_hotspot">
            <span h="10" v="20" targetviewpointid="3"></span>
            <span h="50" v="-20" targetviewpointid="4"></span>
        </span>
    </span>

    <div id="iv360OutterWrapper">
        <div id="iv360Wrapper"></div>
    </div>

    <div id="menuArea">
        <div id="titleArea">
            户型名称 - 观察点名称 - 风格名称
        </div>
        <a href="javascript:" id="menuButton" onclick="switchOpen(this);"></a>
        <span id="menuButtonWrapper">
            <a href="javascript:" id="housePlanButton" onclick="popupTo('housePlan');"></a>
            <a href="javascript:" id="styleButton" onclick="popupTo('style');"></a>
            <a href="javascript:" id="shareButton" onclick="switchOpen(this);"></a>
            <span id="shareButtonWrapper">
                <a href="javascript:" id="shareButton_weixin" onclick="shareTo_weixin();"></a>
                <a href="javascript:" id="shareButton_renren" onclick="shareTo_renren();"></a>
                <a href="javascript:" id="shareButton_qzone" onclick="shareTo_qzone();"></a>
                <a href="javascript:" id="shareButton_weibo" onclick="shareTo_weibo();"></a>
            </span>
        </span>
    </div>

    <div id="popupArea" popup="none">
        <div id="popup_housePlan">
            <div id="housePlanImageHolder"></div>
            <div id="housePlanViewPointHolder">
                <!--<a href="javascript:" class="housePlanViewPoint" current></a>-->
            </div>
        </div>
        <div id="popup_style">
            <!--<a href="javascript:" class="styleSelectButton" current>风格名称</a>-->
        </div>
        <div id="popup_share_weixin">
            <img id="shareToWeixinPicture">
            <div id="shareToWeixinTip">如果您在电脑上打开网页，请使用微信扫描上方的二维码在微信中打开网页。<br />如果您已在微信中打开网页，请点击微信界面右上角的分享。</div>
        </div>
        <a href="javascript:" id="popupClose" onclick="popupTo('none');"></a>
    </div>

    <div id="weixinUseTip">
        提示：如果页面在微信中不能正常使用，请点击微信右上角的按钮，选择“在浏览器中打开”。
    </div>

</body>
</html>
