@{
    ViewBag.Title = "Index";
}

<form action="@Url.Action("Index")" method="post">
    CreateTime:<input type="text" name="CreateTime" value=" " />
    
    Status:<input type="text" name="Status" value="" />
    
    
    Date; <input type="text" name="Datetest" value=" " />
    
    <input type="submit" name="submit" value="submit" />
</form>