<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"content="user-scalable=no, initial-scale=1" />
<title>内视场景名称</title>
<link rel="stylesheet" type="text/css" href="src/other/simple.iv360/simple.iv360.css">
<script src="src/other/simple.iv360/simple.iv360.js"></script>

<link rel="stylesheet" type="text/css" href="src/css/iv.css">
<script src="src/js/iv.js"></script>
</head>

<body>

	<span id="dataMark">
		<span id="iv360Data_imageUrl_front" value="src_temp/front.jpg"></span>
		<span id="iv360Data_imageUrl_back" value="src_temp/back.jpg"></span>
		<span id="iv360Data_imageUrl_left" value="src_temp/left.jpg"></span>
		<span id="iv360Data_imageUrl_right" value="src_temp/right.jpg"></span>
		<span id="iv360Data_imageUrl_top" value="src_temp/top.jpg"></span>
		<span id="iv360Data_imageUrl_bottom" value="src_temp/bottom.jpg"></span>
	</span>
	
	<div id="iv360OutterWrapper">
		<div id="iv360Wrapper"></div>
	</div>
	
	<div id="menuArea">
		<div id="titleArea">
			内视场景名称
		</div>
		<a href="javascript:" id="menuButton" onClick="switchOpen(this);"></a>
		<span id="menuButtonWrapper">
			<a href="javascript:" id="shareButton" onClick="switchOpen(this);"></a>
			<span id="shareButtonWrapper">
				<a href="javascript:" id="shareButton_weixin" onClick="shareTo_weixin();"></a>
				<a href="javascript:" id="shareButton_renren" onClick="shareTo_renren();"></a>
				<a href="javascript:" id="shareButton_qzone" onClick="shareTo_qzone();"></a>
				<a href="javascript:" id="shareButton_weibo" onClick="shareTo_weibo();"></a>
			</span>
		</span>
	</div>
	
	<div id="popupArea" popup="none">
		<div id="popup_share_weixin">
			<img id="shareToWeixinPicture" >
			<div id="shareToWeixinTip">如果您在电脑上打开网页，请使用微信扫描上方的二维码在微信中打开网页。<br/>如果您已在微信中打开网页，请点击微信界面右上角的分享。</div>
		</div>
		<a href="javascript:" id="popupClose" onClick="popupTo('none');"></a>
	</div>
	
	<div id="weixinUseTip">
		提示：如果页面在微信中不能正常使用，请点击微信右上角的按钮，选择“在浏览器中打开”。
	</div>
	
</body>
</html>
